html  
  head
    title= title
    link(rel='stylesheet', href='./style.css')
  body
    h1= "RolzPro AAW"
    form(id="disclaimer", method="GET", class="form"  action="/disclaimer")
        button#submitButton(type='submit') Disclaimer, Please Read!
    form(id="info", method="GET", class="form"  action="/info")
        button#submitButton(type='submit') Info/Contact
    h4= "A HW wiki where students can easily check \n the assignments given by teachers, \n like a collaborative school agenda wiki."
    h4= "To view the most recent HW for a class, \n type the classID below. \n To submit HW for a class, \n see the submit tab on the bottom of this page."
    form(id="classlist", method="GET", class="form"  action="/classlist")
        button#submitButton(type='submit') TO VIEW CLASSLIST, CLICK HERE
    br
    form(id="gethw", method="POST", class="form"  action="/gethw")
        h4="Find Assignment:"
        h4="ClassID: (see below for ID list"
        input(type='text', name='getid')
        button#submitButton(type='submit') Find
    textarea(rows="10", cols="50", name='hwbox')=hwboxmessage
    br
    form(id="sendhw", method="POST", class="form"  action="/send")
        br
        br
        h4="Submit Homework:"
        textarea(rows="10", cols="50", name='hw')
        h4="ClassID: (see above for ID list"
        input(type='text', name='classid')
        br
        button#submitButton(type='submit') Submit