html  
  head
    title= title
    link(rel='stylesheet', href='./style.css')
  body
    h1= "RolzPro AAW"
    h3= "For legal info on this site, please see the Disclaimer section."
    h3= "RolzPro AAW is a wiki where students can post the HW for a class"
    h3= "for their peers who may not have remembered, missed it, or were absent."
    h3= "For legal info on this site, please see the Disclaimer section."
    h3= "To create a new class, please email charthewu@gmail.com for info."
    h3= "Any other questions should also be directed to charthewu@gmail.com."
    h3= "Please report any post violations of RolzPro policy directly"
    h3= "to admin@rolzpro.com. Thank you for using the RolzPro AAW"
    h3= "service, and please spread the word!"
    h3= "RolzPro AAW (Assignment Agenda Wiki) is (c) 2017 RolzPro.com"
    
    form(id="back", method="GET", class="form"  action="/")
        br
        button#submitButton(type='submit') BACK TO MAIN PAGE